* {
  margin: 0;
  padding: 0; }

/* THESE BE THEME COLORS */
/* THESE BE THEME COLORS */
.menubar {
  position: absolute;
  top: 0;
  left: 4%;
  width: 96%;
  height: 20px;
  background: #0C0C0B;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  box-shadow: 0px 0px 5px #37371F;
  z-index: 1; }
  .menubar div {
    float: right;
    padding-left: 5px; }
  .menubar p {
    float: right; }
  .menubar a {
    text-decoration: none;
    color: white;
    margin-left: 5px;
    margin-right: 5px; }

/* THESE BE THEME COLORS */
.characterBanner {
  height: 150px;
  width: 100%;
  background-image: linear-gradient(3600deg, #0E0E0E, #1B1B1B, #272727);
  color: #fff;
  font-family: "Montserrat", sans-serif; }
  .characterBanner .textCont {
    margin-left: 50px;
    float: left;
    margin-top: 10px; }
  .characterBanner .bannerButtons {
    float: right;
    margin-right: 50px;
    margin-top: 150px; }
    .characterBanner .bannerButtons .btn {
      font-size: 1em;
      width: 120px;
      height: 40px;
      text-align: center; }

.characterBanner.open {
  left: 15%;
  width: 85%; }

/* THESE BE THEME COLORS */
.dashboard {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15%;
  color: font;
  font-family: "Montserrat", sans-serif;
  border-right: 1px solid #fff;
  box-shadow: 0px 0px 5px #37371F;
  background-image: linear-gradient(180deg, #CC2D03, #961500, #380600);
  z-index: 2; }
  .dashboard #menuButton {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    background: url("../images/burger.png"); }
  .dashboard nav {
    margin-top: 30px; }
    .dashboard nav ul {
      margin-top: 0.2em;
      margin-left: 0.1em; }
      .dashboard nav ul li {
        margin: 0.3em;
        float: down; }
        .dashboard nav ul li a {
          text-decoration: none;
          color: black; }

.dashboard.closed {
  width: 4%; }
  .dashboard.closed nav {
    visibility: hidden; }
  .dashboard.closed #menuButton {
    float: none;
    margin-left: auto;
    margin-right: auto; }

.tabs:before {
  position: relative;
  z-index: 1; }

.tabs {
  position: relative;
  color: #F2F6EA;
  text-align: center;
  height: 37px; }
  .tabs .tab {
    position: relative;
    z-index: 0;
    display: inline-block;
    margin: 0 2px;
    float: left;
    padding: 0.5em;
    border: 1px solid #E46100;
    background: #AD381F;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; }
    .tabs .tab a:link, .tabs .tab a:visited, .tabs .tab a:hover, .tabs .tab a:active {
      color: #F2F6EA;
      text-decoration: none; }
  .tabs .tab.selected:before {
    box-shadow: 2px 2px 0 #fff; }
  .tabs .tab.selected {
    position: relative;
    z-index: 2;
    border-bottom-color: linear-gradient(180deg, #FFF, #F6F3EA, #EFEAE3);
    background: #fff; }
    .tabs .tab.selected a:link, .tabs .tab.selected a:visited, .tabs .tab.selected a:hover, .tabs .tab.selected a:active {
      color: #37371F;
      text-decoration: none; }
  .tabs .tab.selected:after {
    box-shadow: -2px 2px 0 #fff; }

.tabs:after {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  bottom: 0;
  border-bottom: 1px solid #E46100;
  z-index: 1; }

.listContainer {
  width: 100%; }
  .listContainer .fancyList {
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto; }
    .listContainer .fancyList .listItem {
      position: relative;
      display: block;
      width: 90%;
      height: 70px;
      margin: 10px 40px 10px 10px;
      min-width: 350px;
      box-sizing: border-box;
      border: 1px solid #505050;
      border-radius: 3px;
      background-color: #FFF;
      box-shadow: -1px 1px 2px #7B7B7B; }
      .listContainer .fancyList .listItem .content {
        display: block;
        width: 100%;
        height: 100%;
        min-width: 310px;
        display: flex;
        flex-flow: row wrap;
        text-decoration: none;
        color: black; }
      .listContainer .fancyList .listItem a {
        background: #F3F3F3; }
      .listContainer .fancyList .listItem a:hover {
        background: #DDDBD8; }
      .listContainer .fancyList .listItem .itemBtn {
        display: block;
        position: relative;
        width: 70px; }
      .listContainer .fancyList .listItem .remove {
        position: absolute;
        top: 0px;
        right: 0px; }
    .listContainer .fancyList .flex {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row wrap; }

.spellName {
  padding: 3px;
  font-size: 1.5em;
  width: 100%; }

.spellDescr {
  font-style: italic; }

.btn {
  background: #cf6932;
  background-image: -webkit-linear-gradient(top, #cf6932, #d90000);
  background-image: -moz-linear-gradient(top, #cf6932, #d90000);
  background-image: -ms-linear-gradient(top, #cf6932, #d90000);
  background-image: -o-linear-gradient(top, #cf6932, #d90000);
  background-image: linear-gradient(to bottom, #cf6932, #d90000);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  text-shadow: 1px 1px 3px #000000;
  font-family: Arial;
  color: #f2f2f2;
  font-size: 40px;
  padding: 17px 40px 16px 40px;
  text-decoration: none; }

.btn:hover {
  background: #910000;
  background-image: -webkit-linear-gradient(top, #910000, #ad3505);
  background-image: -moz-linear-gradient(top, #910000, #ad3505);
  background-image: -ms-linear-gradient(top, #910000, #ad3505);
  background-image: -o-linear-gradient(top, #910000, #ad3505);
  background-image: linear-gradient(to bottom, #910000, #ad3505);
  text-decoration: none; }

.btn:disabled {
  background: #910000;
  background-image: -webkit-linear-gradient(top, #910000, #ad3505);
  background-image: -moz-linear-gradient(top, #910000, #ad3505);
  background-image: -ms-linear-gradient(top, #910000, #ad3505);
  background-image: -o-linear-gradient(top, #910000, #ad3505);
  background-image: linear-gradient(to bottom, #910000, #ad3505);
  text-decoration: none; }

body .container {
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 4%;
  width: 96%;
  font-family: "Montserrat", sans-serif; }
  body .container .tabs {
    position: relative;
    top: -37px; }
  body .container .sheetContent {
    position: absolute;
    width: 100%;
    top: 150px;
    bottom: 0;
    background-image: linear-gradient(180deg, #FFF, #F6F3EA, #EFEAE3);
    display: block;
    overflow: auto; }
    body .container .sheetContent .editFieldBig {
      display: block;
      width: 100px;
      height: 100px;
      border: 1px solid #B39D8B;
      text-align: center;
      line-height: 100px;
      font-size: 1.5em;
      font-weight: 600;
      background: #F6F3F3; }
    body .container .sheetContent .editField {
      display: block;
      width: 300px;
      height: 30px;
      border: 1px solid black;
      text-align: center;
      line-height: 30px;
      font-size: 0.7em;
      font-weight: 600;
      background: white; }
    body .container .sheetContent .spanInput {
      display: none; }
body .container.open {
  left: 15%;
  width: 85%; }

/*# sourceMappingURL=characterSheet.css.map */
