# entire directories#
#####################
build/
.gradle/
gradle/


# IDE specific files #
######################
.idea/
*.iml

# sass stuff #
##############
**/.sass-cache/*

# Databases #
#############
**data/