<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment = "page"
      lang="en">

    <head>
        <meta charset="UTF-8"/>
        <meta name="description" content="Interactive character sheet"/>
        <title>Chronicler</title>

        <link th:href="@{/resources/css/characterSheet.css}" rel="stylesheet"/>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'/>
        <script th:src="@{/resources/js/jquery-1.11.3.min.js}" />
        <script th:src="@{/resources/js/tabSwitcher.js}" />
        <script th:src="@{/resources/js/dashboard.js}" />
        <script th:src="@{http://malsup.github.com/jquery.form.js}" />
        <script th:src="@{/resources/js/editableFields.js}" />
        <script th:src="@{/resources/js/spellPopup.js}" />
        <script th:src="@{/resources/js/levelUp.js}" />
    </head>

    <header class="menubar" th:include="fragments/menubar :: menubarFrag"></header>
    <body>
        <div class="container">
            <div class="characterBanner">
                <div class="textCont">
                    <h1 th:text="${character.name}"></h1>
                    <h3 th:text="${character.level}"></h3>
                    <h3 th:text="${character.race} +' '+${character.className}"></h3>
                </div>
                <div class="bannerButtons">
                    <input class="btn levelUpBtn" type="button" value="Level Up" th:onclick="${'levelUp('+character.databaseID+')'}"></input>
                    <!--a  class="btn levelUpBtn" href="#levelUp">Level Up</a-->
                    <a  class="btn restBtn" href="#" >Rest</a>
                </div>
            </div>

            <ul class="tabs">
                <li class="tab selected"><a href='#combatTab'>Combat</a></li>
                <li class="tab" ><a href='#spellTab'>Spells</a></li>
                <li class="tab" ><a href='#featTab'>Feats</a></li>
                <li class="tab"><a href='#skillTab'>Skills</a></li>
                <li class="tab"><a href='#inventoryTab'>Inventory</a></li>
                <li class="tab"><a href='#aboutTab'>About character</a></li>
            </ul>

            <div class="sheetContent">
                <form id="sheetForm" th:object="${character}">
                <!-- this is where we put includes and hide/show depending on tab -->
                    <div id="combatTab" th:include="fragments/cs_combat :: combatFrag"></div>
                    <div id="spellTab" th:include="fragments/cs_spells :: spellFrag"></div>
                    <div id="featTab" th:include="fragments/cs_feats :: featFrag"></div>
                    <div id="skillTab" th:include="fragments/cs_skills :: skillFrag"></div>
                    <div id="inventoryTab" th:include="fragments/cs_inventory :: inventoryFrag"></div>
                    <div id="aboutTab" th:include="fragments/cs_about :: aboutFrag"></div>
                </form>
            </div>
        </div>
        <div class="dashboard closed" th:include="fragments/dashboard :: dashboardFrag"></div>
    </body>

    <footer>
    </footer>

</html>