<div xmlns:th="http://www.thymeleaf.org" class="sheet-combat" th:fragment="combatFrag">
    <div class="combat-main">
        <div class="mainStat" id="HP">Hitpoints: <span th:text="${hitPoints}">Error loading</span></div>
        <div class="mainStat" id="AC">Armor Class: <span th:text="${hitPoints}"></span></div>
        <div class="mainStat" id="T-AC">Touch Armor Class: <span th:text="${hitPoints}"></span></div>
        <div class="mainStat" id="FF-AC">FF Armor Class: <span th:text="${hitPoints}"></span></div>
        <div class="mainStat" id="initiative">Initiative: <span th:text="${hitPoints}"></span></div>
        <div class="mainStat" id="BAB">Base attack bonus: <span th:text="${BAB}">${BAB}</span></div>
        <div class="mainStat" id="speed">Speed: <span th:text="${hitPoint}"></span> feat</div>
        <div class="mainStat" id="spellRes">Spell Resistance: <span th:text="${spellRes}"></span></div>
        <div class="mainStat" id="grapple">Grapple: <span th:text="${hitPoints}"></span></div>
    </div>
    <div class="combat-saves">
        <div class="saveStat" id="fort">Fortitude save: <span th:text="${saveFort}"></span></div>
        <div class="saveStat" id="reflex">Reflex save: <span th:text="${saveReflex}"></span></div>
        <div class="saveStat" id="will">Will save: <span th:text="${saveWill}"></span></div>
    </div>
    <div class="combat-gear"></div>
</div>