<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<h1>Login</h1>
<form action="#" th:action="@{/login}" th:object="${user}" method="post">
    <p>Username: <input type="text" th:field="*{userID}" /></p>
    <p>Password: <input type="password" th:field="*{password}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset"/></p>
</form>

</body>

</html>