<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment = "page"
      lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Interactive character sheet"/>
    <title>Chronicler</title>

    <link th:href="@{/resources/css/main.css}" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'/>
    <script th:src="@{/resources/js/jquery-1.11.3.min.js}" />
    <script th:src="@{/resources/js/tabSwitcher.js}" />
    <script th:src="@{/resources/js/dashboard.js}" />
    <script th:src="@{/resources/js/deleteFunctions.js}" />
</head>
<header class="menubar" th:include="fragments/menubar :: menubarFrag"></header>
<body>
<div class="dashboard closed" th:include="fragments/dashboard :: dashboardFrag"></div>
<div th:switch="${user.userID}" class="container flex">
    <div th:case="null" class="flex">
        <div id="loginForm" th:include="fragments/login :: loginFrag"></div>
        <div id="registerForm" th:include="fragments/register :: registerFrag"></div>
    </div>
    <div th:case="*" class="listContainer">
        <p>This is the MANAGE MY CHARACTERS page</p>
        <ul class="fancyList">
            <li th:each="char : ${myChars}" class="listItem">
                <a class="content" th:text="${char.value}" th:href="${'/character'+char.key}"></a>

                <input class="itemBtn remove" type="button" text="DEL" th:onclick="${'deleteCharacter('+char.key+')'}"></input>
            </li>
        </ul>


        <!--<form action="#" th:action="@{/character}" th:object="${character}" method="post">
            <select id="classSelect" th:field="*{databaseID}">
                <option th:each="char : ${myChars}"
                        th:value="${char.key}" th:text="${char.value}"></option>
            </select>
            <input type="submit" value="Submit" />
        </form>-->
    </div>
</div>
</body>

<footer>
</footer>

</html>