/* THESE BE THEME COLORS */
$light: #fff;
$dark: #37371F;
$highlight: #F2F6EA;
$warmContrast: #E46100;
$coolContrast: #AD381F;


$headerBackground: $dark;
$dashboardBackground: $warmContrast;
$mainBackground: linear-gradient(180deg, #FFF, #F6F3EA, #EFEAE3);

$tabsOutline: $warmContrast;
$tabsBackground: $coolContrast;
$tabSelected: $light;
$tabHeight: 37px;

$font: 'Montserrat', sans-serif;
$accentColor: $light;
$fontColor: $dark;

$openDshbrdWidth: 15%;
$closedDshbrdWidth: 4%;
$headerHeight: 20px;
$bannerHeight: 150px;
