* { margin: 0; padding: 0;}

@import '_variables';
@import 'menubar';
@import 'characterBanner';
@import 'dashboard';
@import 'tabs';
@import 'combatTab';
@import 'fancyList';
@import 'button';

body {


    .container {
        position: absolute;
        top: $headerHeight;
        bottom: 0;
        left: $closedDshbrdWidth;
        width: 100% - $closedDshbrdWidth;
        font-family: $font;

        .tabs {
            position: relative;
            top: -$tabHeight;

        }

        .sheetContent {
            position: absolute;
            width: 100%;
            top: $bannerHeight;
            bottom: 0;
            background-image: $mainBackground;
            display: block;
            overflow: auto;

            .editFieldBig {
                display: block;
                width: 100px;
                height: 100px;
                border: 1px solid #B39D8B;
                text-align: center;
                line-height: 100px;
                font-size: 1.5em;
                font-weight: 600;
                background: #F6F3F3;

            }

            .editField {
                display: block;
                width: 300px;
                height: 30px;
                border: 1px solid black;
                text-align: center;
                line-height: 30px;
                font-size: 0.7em;
                font-weight: 600;
                background: white;
            }

            .spanInput {
                display: none;
            }
        }
    }

    .container.open {
        left: $openDshbrdWidth;
        width: 100% - $openDshbrdWidth;
    }

}