@import '_variables';

.characterBanner {
    height: $bannerHeight;
    width: 100%;
    background-image: linear-gradient(3600deg, #0E0E0E, #1B1B1B, #272727);
    color: $accentColor;
    font-family: $font;

    .textCont {
            margin-left: 50px;
            float: left;
            margin-top: 20px;
    }

    .bannerButtons {
        float: right;
        margin-right: 10px;
        top: 100px;
        position: relative;

        .btn {
            font-size: 1em;
            width: 80px;
            height: 30px;
            text-align: center;
            vertical-align: center;
            position: relative;
            padding: 10px 20px;
            line-height: -0px;
            top: 15px;
        }
    }
}

.characterBanner.open {
    left: $openDshbrdWidth;
    width: 100% - $openDshbrdWidth;
}