.listContainer {
    width: 100%;


    .fancyList {
        display: block;
        width: 95%;
        margin-left: auto;
        margin-right: auto;


        .listItem {
            position: relative;
            display: block;
            width: 90%;
            min-width: 350px;
            margin: 10px;
            padding: 5px;
            box-sizing: border-box;
            border: 1px solid #505050;
            border-radius: 3px;
            background-color: #FFF;
            box-shadow: -2px 2px 5px;

            .content {
                display: block;
                width: 90%;
                min-width: 310px;
                padding: 10px 40px 10px 10px;
                display: flex;
                flex-flow: row wrap;
                text-decoration: none;
                color: black;
            }

            .itemBtn {
                display: block;
                position: relative;
                width: 20px;
            }

            .remove {
                position: absolute;
                top: 0px;
                right: 0px;
            }
        }

        .flex {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: row wrap;
        }
    }

}
