* { margin: 0; padding: 0;}

@import '_variables';
@import 'menubar';
@import 'characterBanner';
@import 'dashboard';
@import 'tabs';
@import 'spellTab';
@import 'combatTab';
@import 'fancyList';
@import 'charSelection';
@import 'button';
@import 'about';

body {



        .container {
        position: absolute;
        top: $headerHeight;
        bottom: 0;
        left: $closedDshbrdWidth;
        width: 100% - $closedDshbrdWidth;
        font-family: $font;
        background-image: $mainBackground;

        .tabs {
            position: relative;
            top: -$tabHeight;
        }

        .sheetContent {
            position: absolute;
            width: 100%;
            top: $bannerHeight;
            bottom: 0;

        }

        #loginForm, #registerForm {
            padding: 70px;
        }

        .box {
            display: block;
            width: 30%;
            height: 260px;
            margin: 50px;
            //background: #000;
            background-size: cover;
            text-align: center;

            a {
                display: inline-block;
                padding: 186px;
                padding-top: 109px;
                padding-bottom: 109px;
                text-decoration: none;
                font-size: 107%;
                color: $light;
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            }
        }

        .box:hover {
          opacity: 0.7;
        }

        #mycharacters {
          background-image: url("../images/my_characters.jpg");
        }

        #mycampaigns {
          background-image: url("../images/my_campaigns.jpg");
        }

        #newcharacter {
          background-image: url("../images/new_character.jpg");
        }

        #newcampaign {
          background-image: url("../images/new_campaign.jpg");
        }

    }

    .container.open {
        left: $openDshbrdWidth;
        width: 100% - $openDshbrdWidth;
    }

    .flex {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
    }

}