* { margin: 0; padding: 0;}

@import '_variables';
@import 'menubar';
@import 'characterBanner';
@import 'dashboard';
@import 'tabs';
@import 'combatTab';
@import 'fancyList';
@import 'charSelection';
@import 'button';

body {



        .container {
        position: absolute;
        top: $headerHeight;
        bottom: 0;
        left: $closedDshbrdWidth;
        width: 100% - $closedDshbrdWidth;
        font-family: $font;
        background-image: $mainBackground;

        .tabs {
            position: relative;
            top: -$tabHeight;
        }

        .sheetContent {
            position: absolute;
            width: 100%;
            top: $bannerHeight;
            bottom: 0;

        }

        #loginForm, #registerForm {
            padding: 70px;
        }

        .box {
            display: block;
            width: 30%;
            height: 260px;
            margin: 50px;
            background: #000;
            text-align: center;

            a {
                display: inline-block;
                padding: 60px;
                padding-top: 80px;
                padding-bottom: 80px;
                text-decoration: none;
                color: $light;
            }
        }

        .box:hover {
            background: #333;
        }
    }

    .container.open {
        left: $openDshbrdWidth;
        width: 100% - $openDshbrdWidth;
    }

    .flex {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
    }

}