.spellOffer {
    position: absolute;
    z-index: 4;
    background: #333232;
    width: 85%;
    left: 7%;
    top: 19%;
    border: 1 px solid grey;
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgb(216, 209, 209);
}

.spellResetBtn {
    width: 50px;
    height: 25px;
    position: absolute;
    right: 5px;
    top: 5px;
}