<div xmlns:th="http://www.thymeleaf.org" class="sheet-about" th:fragment="aboutFrag">
    <div class="about-main">

            <div class="mainInfo" id="name">Name:
                <span class="editable-span editFieldBig" th:text="${character.name}">Error loading</span>
                <input class="editFieldBig spanInput" th:field="*{name}" type="text" autocomplete="off"/>
            </div>
            <div class="mainInfo" id="race">Race:
                <span th:text="${character.race}"></span>
                <input class="editFieldBig spanInput" th:field="*{race}" th:value="${character.race}" type="text"/>
            </div>
            <div class="mainInfo" id="className">Class:
                <span th:text="${character.className}" th:field="${character.className}"></span>
                <input class="editFieldBig spanInput" th:field="*{className}" th:value="${character.className}" type="text"/>
            </div>
            <div class="mainInfo" id="alignment">Alignment:
                <span class="editable-span editField" th:text="${character.alignment}"></span>
                <input class="editField spanInput" th:field="*{alignment}" type="text"/>
            </div>
            <div class="mainInfo" id="deity">Deity:
                <span class="editable-span editField" th:text="${character.deity}"></span>
                <input class="editField spanInput" th:field="*{deity}" type="text"/>
            </div>
            <div class="mainInfo" id="gender">Gender:
                <span class="editable-span editField" th:text="${character.gender}"></span>
                <input class="editField spanInput" th:field="*{gender}" type="text"/>
            </div>
            <div class="mainInfo" id="eyes">Eyes:
                <span class="editable-span editField" th:text="${character.eyes}"></span>
                <input class="editField spanInput" th:field="*{eyes}" type="text"/>
            </div>
            <div class="mainInfo" id="hair">Hair:
                <span class="editable-span editField" th:text="${character.hair}"></span>
                <input class="editField spanInput" th:field="*{hair}" type="text"/>
            </div>
            <div class="mainInfo" id="height">Height:
                <span class="editable-span editField" th:text="${character.height}"></span>
                <input class="editField spanInput" th:field="*{height}" type="text"/>
            </div>
            <div class="mainInfo" id="weight">Weight:
                <span class="editable-span editField" th:text="${character.weight}"></span>
                <input class="editField spanInput" th:field="*{weight}" type="text"/>
            </div>
            <div class="mainInfo" id="size">Size:
                <span class="editable-span editField" th:text="${character.size}"></span>
                <input class="editField spanInput" th:field="*{size}" type="text"/>
            </div>
            <div class="mainInfo" id="skin">Skin:
                <span class="editable-span editField" th:text="${character.skin}"></span>
                <input class="editField spanInput" th:field="*{skin}" type="text"/>
            </div>

    </div>
    <div class="about-story">
        <div class="story" id="fluff"></div>
    </div>

</div>