<div xmlns:th="http://www.thymeleaf.org" class="sheet-combat" th:fragment="combatFrag">
    <div class="combat-main">
        <div class="mainStat" id="HP">Hitpoints: <span class="editable-span editFieldBig numberField" th:text="${character.maxHp}"></span></div>
        <div class="mainStat" id="AC">Armor Class: <span th:text="${character.ac}"></span></div>
        <div class="mainStat" id="T-AC">Touch Armor Class: <span th:text="${character.touchAc}"></span></div>
        <div class="mainStat" id="FF-AC">FF Armor Class: <span th:text="${character.flatAc}"></span></div>
        <div class="mainStat" id="initiative">Initiative: <span th:text="${character.initiative}"></span></div>
        <div class="mainStat" id="BAB">Base attack bonus: <span th:text="${character.bab}"></span></div>
        <div class="mainStat" id="speed">Speed: <span class="editable-span  editFieldBig numberField" th:text="${character.speed}"></span> feet</div>
        <div class="mainStat" id="spellRes">Spell Resistance: <span th:text="${character.spellRes}"></span></div>
        <div class="mainStat" id="grapple">Grapple: <span th:text="${character.Grapple}"></span></div>
    </div>
    <div class="combat-saves">
        <div class="saveStat" id="fort">Fortitude save: <span th:text="${character.fort}"></span></div>
        <div class="saveStat" id="reflex">Reflex save: <span th:text="${character.reflex}"></span></div>
        <div class="saveStat" id="will">Will save: <span th:text="${character.will}"></span></div>
    </div>
    <div class="combat-gear"></div>
</div>