<div xmlns:th="http://www.thymeleaf.org" class="sheet-spell" th:fragment="spellFrag">
    <div th:each="level : ${spellSlots}" class="listContainer">
        <h1 th:text="${level.key}" class="fancyList"></h1>
        <ul class="fancyList">
            <li th:each="spellSlot : ${level.value}" class="listItem">
                <div th:switch="${spellSlot.spell}">
                    <p class="content" th:case="null">Empty. Click to prepare a spell in this slot.</p>
                    <span class="content" th:case="*">
                        <p class="spellName" th:text="${spellSlot.spell.name}"></p>
                        <p class="spellDescr" th:text="${spellSlot.spell.shortDescription}"></p>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>