<div xmlns:th="http://www.thymeleaf.org" class="sheet-spell" th:fragment="spellFrag">
    <div th:each="" class="listContainer">
        <ul class="fancyList">
            <li th:each="spell : ${spellList}" class="listItem">
                <a class="content" th:href="${'/spell'+spell.id}">
                    <h2 th:text="${spell.name}"></h2>
                    <h3 th:text="${spell.level}"></h3>
                    <h4 th:text="${spell.school}"></h4>
                    <span th:text="${spell.shortDescription}"></span>
                </a>
            </li>
        </ul>

    </div>
</div>