<div xmlns:th="http://www.thymeleaf.org" th:fragment="dashboardFrag">
    <span id="menuButton"></span>
    <nav class="dashboardContent">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/newCampaign">Create a campaign</a></li>
            <li><a href="/myCampaigns">My Campaigns</a></li>
            <li><a href="/newCharacter">Create a character</a></li>
            <li><a href="/myCharacters">My Characters</a></li>
            <li><a href="/about">About this page</a></li>
        </ul>
    </nav>
</div>